::-webkit-scrollbar {
  width: 12px;
  background: white;
}

/* Add animation effect to page scroller */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 20px;
  animation: rainbow 2s ease infinite;
}
